<aside class="bg-light d-flex flex-column vh-100 py-7 ps-7 pe-0">
    <h1 class="mb-7"><a href="../pages/index.html" class="logo">ANSWER</a></h1>
    <nav class="nav flex-column fw-bold">
        <a class="nav-link link-dark py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                insert_chart
            </span>Dashboard
        </a>
        <a class="nav-link link-dark py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                forum
            </span>Question
        </a>
        <a class="nav-link active link-primary py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                assignment
            </span>Assignment
        </a>
        <a class="nav-link link-dark py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                video_library
            </span>Course
        </a>
        <a class="nav-link link-dark py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                group
            </span>Admin
        </a>
        <a class="nav-link link-dark py-0 px-0 mb-6" href="#">
            <span class="material-symbols-outlined align-middle me-5">
                settings
            </span>Settings
        </a>
    </nav>
    <div class="d-flex align-items-center mt-auto pe-9">
        <div class="flex-shrink-0">
            <img src="../assets/images/andychen.jpeg" alt="AndyChen" class="avatar">
        </div>
        <div class="ms-5">
            <p class="mb-0 fw-bold">Andy Chen</p>
            <span class="text-secondary fs-sm">andy0401@mail.com</span>
        </div>
    </div>
</aside>