<aside class="bg-light">
    <div class="d-flex flex-column vh-100 container py-7 ps-7 pe-0">
        <h1 class="mb-7"><a href="../pages/index.html" class="logo">ANSWER</a></h1>
        <ul class="nav list-unstyled fw-bold d-flex flex-column">
            <li class="nav-item mb-6">
                <a class="nav-link link-dark py-0 px-0" href="#">
                    <span class="material-symbols-outlined align-middle me-5">
                        insert_chart
                    </span>Dashboard
                </a>
            </li>
            <li class="nav-item mb-6">
                <a class="nav-link link-dark py-0 px-0" href="#">
                    <span class="material-symbols-outlined align-middle me-5">
                        forum
                    </span>Question
                </a>
            </li>
            <li class="nav-item mb-6">
                <a class="nav-link py-0 px-0" href="../pages/index.html">
                    <span class="material-symbols-outlined align-middle me-5">
                        assignment
                    </span>Assignment
                </a>
            </li>
            <li class="nav-item mb-6">
                <a class="nav-link link-dark py-0 px-0" href="#">
                    <span class="material-symbols-outlined align-middle me-5">
                        video_library
                    </span>Course
                </a>
            </li>
            <li class="nav-item mb-6">
                <a class="nav-link link-dark py-0 px-0" href="../pages/admin.html">
                    <span class="material-symbols-outlined align-middle me-5">
                        group
                    </span>Admin
                </a>
            </li>
            <li class="nav-item mb-6">
                <a class="nav-link link-dark py-0 px-0" href="#">
                    <span class="material-symbols-outlined align-middle me-5">
                        settings
                    </span>Settings
                </a>
            </li>
        </ul>
        <div class="d-flex align-items-center mt-auto pe-9">
            <img src="../assets/images/andychen.jpeg" alt="AndyChen" class="avatar me-5">
            <div>
                <p class="mb-0 fw-bold">Andy Chen</p>
                <span class="text-secondary fs-sm">andy0401@mail.com</span>
            </div>
        </div>
    </div>
</aside>