.logo {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg");
    height: 40px;
    width: 151px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

aside {
    position: fixed;
    max-width: 296px;
}

.nav-link {
    position: relative;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    left: -32px;
    width: 4px;
    height: 32px;
    border-left: 4px solid $primary;
}